.card {
  display: flex;
  padding: 5px;
  width: 470px;
  margin-bottom: 19px;
  height: 200px;
  background-color: white;
  border: white;
}

.card-image {
  border-radius: 20px;
  width: 45%;
}

.card-content {
  width: 55%;
  padding-left: 10px;
}

.card-title {
  font-weight: 500;
  font-size: larger;
}

.card-date {
  padding-top: 4%;
  font-size: large;
  font-weight: 200;
}
